#folders
.ssh/
.idea/
.vscode/
venv/
.mypy_cache/
.pytest_cache/
**/__pycache__/
logs/
tmp/
upload/
corpus/
media/

#files
**/.DS_Store
db.sqlite
migrations/versions/*.py
.local

deploy/data/postgres/
deploy/data/text_summary/
deploy/data/word_embedding/
deploy/data/new_word
deploy/data/assemble_dp_subservice/
deploy/docker-compose2.yml

.ipynb_checkpoints/
*.ipynb