[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webargs = "==5.5.2"
flask = "*"
flask-restful = "*"
pymysql = "*"
uuid = "*"
gevent = "*"
gunicorn = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
