[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pymysql = "*"
sqlalchemy-utils = "*"
concurrent-log-handler = "*"
flask-script = "*"
flask-migrate = "*"
webargs = "==5.5.2"
sqlalchemy = "==1.3.20"
gunicorn = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
